<ActionBar title="Nativescript RadListView Tab Bug" icon="">
</ActionBar>
<TabView
    #mainTabView
    selectedIndex="0"
    selectedColor="#ED374D">
  <GridLayout *tabItem="{title: 'Tab1'}">
    <tab1></tab1>
  </GridLayout>

  <StackLayout *tabItem="{title: 'Tab2'}">
    <Label text="Tab 2"></Label>
  </StackLayout>

  <StackLayout *tabItem="{title: 'Tab3'}">
    <Label text="Tab 3"></Label>
  </StackLayout>

  <StackLayout *tabItem="{title: 'Tab4'}">
    <Label text="Tab 4"></Label>
  </StackLayout>
</TabView>